
body{
    background-color: black;
}

header{
    background-image: url("../img/ping.png");
    background-position: center;
    background-repeat: no-repeat;
    border-color: black;
    font-size: 2rem;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}
.position1 {
    color: BLUE;
   float: left;
   width: 200px;
 margin-left: 10px;
   border: 2px solid blue;


}
.position2{

    color:red;
    float: right;
    width: 200px;
  margin-left: 50px;
    border: 2px solid red;
}
    